<!DOCTYPE html>
<html lang='en'>
   <head>
      <meta charset="UTF-8" />
      <title>Rey's Bio</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <div class="container">
         <div class="row text-center">
            <div class="col-sm-12">
               <h1><%= greeting %></h1>
            </div>
         </div>
      <div class="row text-center">
           <div class="col-sm-12">
              <h4><%= brief_intro %></h4>
           </div>
        </div>s
        <div class="row text-center">
          <div class="col-sm-6">
             <h3><%= header_one %></h3>
               <ul>
                   <li>
                        <%= skills %>
                  </li>
               </ul>
          </div>
       </div>
       <div class="row text-center">
         <div class="col-sm-6">
            <h3><%= header_two %></h3>
              <ul>
                  <li>
                       <%= hobbies %>
                 </li>
              </ul>
         </div>
      </div>
      </div>

   </body>
</html>
